{{ if exists "/rabbitmq/ldap/config" }}
[
{rabbitmq_auth_backend_ldap,[
   {vhost_access_query,    {match,
                                             {attribute, "{{ getv "/rabbitmq/ldap/permissions/vhosts/group" }}", "memberUid"},
                                             {string, "${username}"}
                                  } },
  {tag_queries,           [
                           { administrator, {match,
                                       {attribute, "{{ getv "/rabbitmq/ldap/groups/administrator" }}", "memberUid"},
                                       {string, "${username}"}
                                     } },
                           { monitoring, {match,
                                       {attribute, "{{ getv "/rabbitmq/ldap/groups/monitoring" }}", "memberUid"},
                                       {string, "${username}"}
                                     } }
                              ]}
]}
].
{{ end }}
